@import "bourbon/bourbon"
$text-color: #717171
$red-color: #ce5a5a
$blue-color: #003469
$dark-color: #000
$green-color: #67bc5c
$grey-color: #dddddd

body
	font-family: "RobotoRegular", sans-serif
	font-weight: normal
	font-size: 16px
    color: $text-color
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialised
    overflow-x: hidden

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
    box-shadow: $red-color 0 0 0 2px
    border-color: $red-color

body input:required:valid,
body textarea:required:valid
	color: green

hr
	background-color: $grey-color
	margin: 0
	border: 0
	height: 1px

header
	margin-top: 10px
	.top_header_menu
		ul,li
			display: inline-block
			margin: 0
			padding: 0
			list-style-type: none
			color: $text-color
			margin-right: 10px
	
	hr
		margin-top: 5px
	.login
		float: right
	a
		color: $text-color
		margin-right: 10px
			
	

	.top_banner
		float: right
		margin: 15px 0px
	.logo
		margin: 31px 0px 

	//navbar
	.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .active a:hover
		background-color: #d45757
		color: #fff
		padding: 15px 10px
	.navbar-default .navbar-nav li a
		color: $text-color
		padding: 15px 10px
	nav.navbar.navbar-default
		background-color: $grey-color
		text-transform: uppercase
		border-radius: 0
		border: 0
	
	.navbar-form
		margin: 0
		padding: 0
		min-width: 200px
		border: 0
		input
			background-color: #cecece
			color: #fff
			text-indent: 10px
			border: 0
			outline: none
			padding: 12px 0
			
			margin: 0
			text-transform: uppercase
			box-sizing: border-box
			-moz-box-sizing: border-box
			-webkit-box-sizing: border-box

		::-webkit-input-placeholder 
			color: #fff
		::-moz-placeholder
			color: #fff
		:-moz-placeholder
			color: #fff
		:-ms-input-placeholder
			color: #fff
			
			

		button
			margin-left: -4px
			margin-right: 0px
			border: 0
			background-color: #cecece
			height: 50px
			padding: 0
			width: 25px
			outline: 0

	.navbar-collapse 	
		padding: 0 
		border: 0


// CAROUSEL
#carousel-example-generic
	height: 300px
	img
		height: 300px
		width: auto
		display: block
		margin: auto
	.carousel-control
		left: 95%
		top: 80%
		width: 1%
		background: none
		.glyphicon-chevron-left
			left: -20px
	
	.item
		background-color: $grey-color
		.carousel-caption
			position: absolute
			text-align: left
			margin: 0
			padding: 0
			left: 10px
			bottom: 10px
			width: 350px
			span
				color: #fff
				background-color: #000
				padding: 5px
				margin: 0
				text-transform: uppercase
			h3
				background-color: #5aacce
				color: #fff
				padding: 5px
				margin: 0
				text-transform: uppercase
			p
				margin: 0
				color: #000
				background-color: #fff
				padding: 5px
				text-decoration: none
				text-shadow: none
	

// SECTION CONTENT
.main_content
	margin-top: 40px
	.caption
		h3
			color: $red-color
		.btn
			border: 0
			border-radius: 0
		i,.number_of_comments,.date
			background-color: #fff
			color: #bbbbbb
		.number_of_comments,.date
			display: inline-block
		.number_of_comments			
			margin-left: 20px
	.thumbnail	
		//position: absolute
		border: 0
		>span
			color: #fff
			background-color: #000
			padding: 5px
			top: 15px
			left: 3px
			position: relative
			text-transform: uppercase
		img
			width: 100%
			height: 170px
			
// FEATURED SECTION
.featured_header
	height: 30px
	color: #000
	background-color: $grey-color
	text-transform: uppercase
	font-weight: bold
	padding: 5px 10px
	margin-bottom: 20px
	
.media-object
	height: 100px
	width: 100px
.media-body	
	h4
		color: $red-color
		font-weight: bold
	p,span
		margin: 0
		font-size: 12px
.media:last-child
	margin-bottom: 40px


// FOOTER
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover,a.list-group-item:focus, a.list-group-item:hover,.list-group-item, a.list-group-item
	color: #000
	background-color: #fff
	border: 0
	outline: 0
	margin: 0
	padding: 0