/* line 9, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-size-color: #717171;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  -webkit-font-smoothing-overflow-x: hidden; }

/* line 21, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
body input:focus:required:invalid, body textarea:focus:required:invalid {
  color: red;
  color-box-shadow: #9b1818 0 0 0 2px;
  color-border-color: #9b1818; }

/* line 27, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
body input:required:valid, body textarea:required:valid {
  color: green; }

/* line 30, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
header {
  margin-top: 10px; }
  /* line 33, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .top_header_menu ul, header .top_header_menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #717171;
    margin-right: 10px; }
  /* line 42, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .login {
    float: right; }
    /* line 44, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .login a {
      color: #717171;
      margin-right: 10px; }
  /* line 48, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header hr {
    color: #dddddd;
    margin-top: 5px; }
  /* line 52, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .top_banner {
    float: right;
    margin: 15px 0px; }
  /* line 55, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .logo {
    margin: 31px 0px; }
  /* line 58, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-default .navbar-nav .active a, header .navbar-default .navbar-nav .active a:focus, header .navbar-default .navbar-nav .active a:hover {
    background-color: #d45757;
    color: #fff;
    padding: 15px 10px; }
  /* line 62, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-default .navbar-nav li a {
    color: #717171;
    padding: 15px 10px; }
  /* line 65, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header nav.navbar.navbar-default {
    border: none;
    background-color: #dddddd; }
  /* line 69, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-form {
    margin: 0;
    padding: 0;
    min-width: 200px;
    border: none; }
    /* line 74, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form input {
      background-color: #cecece;
      color: #fff;
      text-indent: 10px;
      border: none;
      outline: none;
      padding: 12px 0;
      margin: 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
    /* line 86, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form ::-webkit-input-placeholder {
      color: #fff; }
    /* line 88, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form ::-moz-placeholder {
      color: #fff; }
    /* line 90, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form :-moz-placeholder {
      color: #fff; }
    /* line 92, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form :-ms-input-placeholder {
      color: #fff; }
    /* line 97, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form button {
      margin-left: -30px;
      border: none;
      background-color: transparent;
      height: 50px;
      padding: 0;
      width: 25px; }
  /* line 105, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-collapse {
    padding: 0;
    border: none; }

/* line 110, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
#carousel-example-generic {
  height: 300px; }
  /* line 112, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  #carousel-example-generic img {
    height: 300px;
    width: 400px;
    margin: auto; }
  /* line 116, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  #carousel-example-generic .carousel-control {
    left: 90%;
    top: 90%;
    width: 1%;
    background: none; }
    /* line 121, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    #carousel-example-generic .carousel-control .glyphicon-chevron-left {
      left: -20px; }

/*# sourceMappingURL=main.css.map */