/* line 12, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
body {
  color: #222;
  letter-spacing: 1px; }

/* line 16, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
a {
  color: #FF6347; }

/* line 19, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
p {
  color: #888; }

/* line 22, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.color_element {
  color: #FF6347; }

/* line 24, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.color_bg {
  background-color: #FF6347; }

/* line 26, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.color_border {
  border-color: #FF6347; }

/* line 29, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.main_color_bg {
  background-color: #222; }

/* line 31, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.bg_light {
  background-color: #FAFAFA; }

/* line 33, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.bg_dark {
  background-color: #222;
  color: #fff; }
  /* line 36, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
  .bg_dark .s_descr:after {
    background-color: #fff; }
  /* line 38, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
  .bg_dark a {
    color: #fff; }

/* line 41, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
svg {
  height: 80px;
  width: 80px;
  z-index: 100;
  position: relative; }

/* line 46, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
path {
  fill: #FAFAFA; }

/* line 48, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
circle {
  fill: #FAFAFA; }

/* line 52, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.top_menu a:hover {
  color: #FF6347;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s 0.1s ease; }
/* line 56, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.top_menu a:not(:hover) {
  transition: all 0.3s 0.1s ease; }
/* line 58, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.top_menu a {
  letter-spacing: 2px; }

/* line 62, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.top_text p {
  letter-spacing: 3px; }

/* line 65, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.s_descr {
  letter-spacing: 5px; }
  /* line 67, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
  .s_descr:after {
    background-color: #222; }

/* line 70, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.section_content p:nth-child(even) {
  color: #FF6347; }
/* line 72, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.section_content .about_name {
  letter-spacing: 2px; }

/* line 75, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.s_about li {
  color: #888; }

/* line 80, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
#resume .section_content h3 {
  color: #222;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 600; }
/* line 86, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
#resume .section_content .resume_item .year {
  background-color: #FF6347;
  color: #fff; }
/* line 89, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
#resume .section_content .resume_item .resume_description {
  letter-spacing: 1px; }

/* line 92, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
.main_footer {
  color: #888;
  letter-spacing: 0px; }

/* line 97, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/skins/tomato.sass */
section h3 {
  letter-spacing: 3px;
  color: #888; }

/*# sourceMappingURL=tomato.css.map */