$blue-color: #003d6d
$red-color: #cc0000
$gray-color: #e8e8e8
$table-gray: #d7d7d7
$blue-catalog-color: #003c6c
$light-blue-catalog-color: #005ca5
$ble-text: #004276
$gray-text: #88878c
$red-text: #cc0000

body
	font-family: "RobotoRegular", sans-serif
	font-weight: normal
	font-size: 18px
	line-height: 1.6
	-webkit-font-smoothing: antialised
    overflow-x: hidden