/* line 7, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
body {
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  font-size: 12px;
  font-size-color: #717171;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  -webkit-font-smoothing-overflow-x: hidden; }

/* line 20, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
body input:focus:required:invalid, body textarea:focus:required:invalid {
  color: #717171; }

/* line 26, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
body input:required:valid, body textarea:required:valid {
  color: green; }

/* line 29, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
hr {
  background-color: #dddddd;
  margin: 0;
  border: 0;
  height: 1px; }

/* line 35, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
header {
  margin-top: 10px; }
  /* line 38, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .top-header-menu ul, header .top-header-menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #717171; }
  /* line 44, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .top-header-menu a {
    font-size: 10px; }
  /* line 48, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header hr {
    margin-top: 5px; }
  /* line 50, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .login {
    float: right;
    font-size: 10px; }
  /* line 53, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header a {
    color: #717171;
    margin-right: 10px;
    text-transform: uppercase; }
  /* line 58, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .top-banner {
    float: right;
    margin: 15px 0px; }
  /* line 61, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .logo {
    margin: 31px 0px; }
  /* line 64, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-default .navbar-nav .active a, header .navbar-default .navbar-nav .active a:focus, header .navbar-default .navbar-nav .active a:hover {
    background-color: #d45757;
    color: #fff;
    padding: 15px 10px;
    min-height: 40px; }
  /* line 70, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-default .navbar-nav li a {
    color: #717171;
    padding: 15px 10px;
    font-family: "OpenSansRegular", sans-serif;
    font-size: 14px; }
  /* line 77, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header nav.navbar.navbar-default {
    background-color: #dddddd;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    margin-bottom: 30px;
    min-height: 40px; }
  /* line 84, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-form {
    margin: 0;
    padding: 0;
    border: 0; }
    /* line 88, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form input {
      background-color: #cecece;
      color: #fff;
      text-indent: 10px;
      border: 0;
      outline: none;
      padding: 12px 0;
      height: 50px;
      margin: 0;
      text-transform: uppercase;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
    /* line 102, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form ::-webkit-input-placeholder {
      color: #fff; }
    /* line 104, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form ::-moz-placeholder {
      color: #fff; }
    /* line 106, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form :-moz-placeholder {
      color: #fff; }
    /* line 108, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form :-ms-input-placeholder {
      color: #fff; }
    /* line 111, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form button {
      margin-left: -6px;
      margin-right: 0px;
      border: 0;
      background-color: #cecece;
      height: 50px;
      padding: 0;
      width: 25px;
      outline: 0; }
  /* line 121, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-collapse {
    padding: 0;
    border: 0; }

/* line 126, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
#carousel-example-generic {
  height: 300px; }
  /* line 129, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  #carousel-example-generic img {
    height: 300px;
    width: 100%;
    display: block;
    margin: auto; }
  /* line 134, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  #carousel-example-generic .carousel-control {
    left: 95%;
    top: 80%;
    width: 1%;
    background: none; }
    /* line 139, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    #carousel-example-generic .carousel-control .glyphicon-chevron-left {
      left: -20px; }
  /* line 144, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  #carousel-example-generic .item {
    background-color: #dddddd; }
    /* line 146, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    #carousel-example-generic .item .carousel-caption {
      position: absolute;
      text-align: left;
      margin: 20px;
      padding: 0;
      left: 10px;
      bottom: 10px;
      width: 350px; }
      /* line 154, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
      #carousel-example-generic .item .carousel-caption span {
        color: #fff;
        background-color: #000;
        padding: 6px;
        margin: 0;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 20px; }
      /* line 162, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
      #carousel-example-generic .item .carousel-caption h3 {
        background-color: #5aacce;
        color: #fff;
        padding: 8px;
        margin: 0;
        text-transform: uppercase;
        font-family: "OpenSansLight", sans-serif;
        font-size: 20px;
        line-height: 24px; }
      /* line 171, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
      #carousel-example-generic .item .carousel-caption p {
        font-family: "OpenSansLight", sans-serif;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
        color: #000;
        background-color: #fff;
        padding: 8px;
        text-decoration: none;
        text-shadow: none; }

/* line 183, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.main-content {
  margin-top: 40px; }
  /* line 185, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .main-content .caption {
    padding: 0; }
    /* line 187, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main-content .caption h3 {
      color: #ce5a5a;
      font-family: "OpenSansSemibold", sans-serif;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0; }
    /* line 193, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main-content .caption .btn {
      border: 0;
      border-radius: 0;
      font-family: "OpenSansRegular", sans-serif;
      font-size: 12px;
      line-height: 18px;
      background-color: #5aacce; }
    /* line 200, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main-content .caption i, .main-content .caption .number-of-comments, .main-content .caption .date {
      background-color: #fff;
      color: #bbbbbb; }
    /* line 203, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main-content .caption .number-of-comments, .main-content .caption .date {
      display: inline-block;
      font-size: 11px;
      line-height: 20px;
      margin: 12px 0px; }
    /* line 208, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main-content .caption .number-of-comments {
      margin-left: 20px; }
    /* line 210, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main-content .caption p {
      font-family: "OpenSansRegular", sans-serif;
      font-size: 13px;
      line-height: 18px; }
  /* line 214, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .main-content .thumbnail {
    border: 0;
    padding: 0;
    margin-right: 30px;
    margin-bottom: 30px; }
    /* line 219, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main-content .thumbnail:last-child {
      margin-right: 0; }
    /* line 221, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main-content .thumbnail > span {
      font-size: 11px;
      line-height: 20px;
      color: #fff;
      background-color: #000;
      padding: 5px;
      top: 15px;
      left: 3px;
      position: relative;
      text-transform: uppercase; }
    /* line 231, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main-content .thumbnail img {
      width: 100%;
      height: 170px; }

/* line 235, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.featured-header {
  height: 30px;
  color: #000;
  background-color: #dddddd;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 10px;
  margin-bottom: 20px; }

/* line 245, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.media-object {
  height: 100px;
  width: 100px; }

/* line 249, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.media-body h4 {
  color: #ce5a5a;
  font-weight: bold;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 14px;
  line-height: 20px; }
/* line 255, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.media-body p, .media-body span {
  margin: 0;
  font-size: 11px;
  line-height: 15px;
  color: #717171; }
/* line 260, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.media-body span {
  line-height: 20px; }

/* line 263, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.media:last-child {
  margin-bottom: 40px; }

/* line 267, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
footer {
  margin-bottom: 120px; }
  /* line 269, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer p {
    color: #717171;
    font-size: 12px; }
  /* line 272, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer .list-group-item.active, footer .list-group-item.active:focus, footer .list-group-item.active:hover, footer a.list-group-item:focus, footer a.list-group-item:hover, footer .list-group-item, footer a.list-group-item {
    color: #717171;
    background-color: #fff;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-size: 12px; }
  /* line 280, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer .social-wrap a {
    margin-left: 15px;
    color: #717171; }
    /* line 283, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    footer .social-wrap a:first-child {
      margin-left: 0; }
  /* line 287, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer h4 {
    color: #ce5a5a;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 24px;
    font-family: "Verdana", sans-serif; }
  /* line 295, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer .newsletter-wrap form {
    width: 200px; }
  /* line 297, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer .newsletter-wrap span {
    color: #717171;
    font-size: 12px; }
  /* line 300, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer .newsletter-wrap input {
    margin-top: 10px;
    background-color: #dddddd;
    border: 0;
    text-indent: 10px;
    color: #717171;
    outline: 0;
    width: 170px; }
  /* line 308, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer .newsletter-wrap button {
    border: none;
    outline: 0;
    margin-left: -5px; }
  /* line 312, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer .categories-wrap, footer .online-wrap, footer .newsletter-wrap {
    margin-right: 100px; }

/* line 318, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main h1 {
  font-size: 30px;
  margin: 0;
  font-family: "OpenSansRegular", sans-serif;
  line-height: 24px; }
/* line 323, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .date, main .number-of-comments {
  display: inline-block;
  margin: 15px 0;
  color: #717171;
  font-size: 11px;
  line-height: 20px; }
/* line 329, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .number-of-comments {
  margin-left: 20px; }
/* line 332, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .content p {
  font-size: 12px;
  line-height: 17px; }
/* line 335, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .img-item {
  text-align: center;
  margin-bottom: 10px; }
/* line 338, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .img-caption {
  color: #717171;
  font-style: italic; }
/* line 343, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .social-wrap, main .tags-wrap {
  display: inline-block;
  margin-bottom: 40px; }
  /* line 347, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .social-wrap .fa, main .tags-wrap .fa {
    font-size: 21px; }
  /* line 349, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .social-wrap a, main .tags-wrap a {
    color: #717171;
    margin-right: 40px; }
    /* line 352, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    main .social-wrap a:last-child, main .tags-wrap a:last-child {
      margin-right: 0px; }
  /* line 354, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .social-wrap span, main .tags-wrap span {
    font-size: 11px;
    color: #717171;
    vertical-align: top; }
    /* line 358, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    main .social-wrap span a, main .tags-wrap span a {
      vertical-align: top;
      margin: 0; }
/* line 361, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .social-wrap {
  margin-right: 30px; }
/* line 363, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .tags-wrap {
  float: right;
  width: 50%; }
  /* line 366, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .tags-wrap:after {
    visibility: hidden;
    visibility-display: block;
    visibility-content: "";
    visibility-clear: both;
    visibility-height: 0; }
/* line 373, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main hr {
  margin-top: 5px;
  margin-bottom: 12px; }
/* line 377, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .comments-wrap h3, main .social-wrap h3, main .tags-wrap h3 {
  font-size: 12px;
  color: #ce5a5a;
  text-transform: uppercase;
  margin: 0;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 12px;
  line-height: 17px; }
/* line 386, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .comments-wrap .media-body h4, main .comments-wrap .media-body span, main .comments-wrap .media-body a, main .social-wrap .media-body h4, main .social-wrap .media-body span, main .social-wrap .media-body a, main .tags-wrap .media-body h4, main .tags-wrap .media-body span, main .tags-wrap .media-body a {
  vertical-align: baseline; }
/* line 388, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .comments-wrap .media-body h4, main .social-wrap .media-body h4, main .tags-wrap .media-body h4 {
  line-height: 17px;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  display: inline;
  margin: 0; }
/* line 396, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .comments-wrap .media-body span, main .social-wrap .media-body span, main .tags-wrap .media-body span {
  margin: 0 10px;
  font-size: 10px;
  line-height: 24px; }
/* line 400, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .comments-wrap .media-body a, main .social-wrap .media-body a, main .tags-wrap .media-body a {
  font-size: 10px;
  line-height: 24px;
  text-decoration: underline; }
/* line 404, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .comments-wrap .media-body > .media, main .social-wrap .media-body > .media, main .tags-wrap .media-body > .media {
  margin-bottom: 30px; }
/* line 407, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .comments-wrap .media-object, main .social-wrap .media-object, main .tags-wrap .media-object {
  width: 50px;
  height: 50px; }
/* line 410, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
main .comment-form {
  margin: 40px 0px; }
  /* line 413, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .comment-form .form-group {
    padding-left: 15px;
    margin-bottom: 10px; }
  /* line 416, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .comment-form pre {
    border: 0;
    background-color: #fff;
    margin: 15px 0;
    padding: 0;
    font-family: "RobotoRegular", sans-serif;
    text-align: left; }
  /* line 423, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .comment-form input, main .comment-form textarea {
    text-indent: 5px;
    display: block;
    outline: none;
    border: 0;
    box-shadow: none;
    background-color: #dddddd;
    border-radius: 0;
    width: 220px; }
    /* line 432, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    main .comment-form input:focus, main .comment-form textarea:focus {
      box-shadow: none;
      border: 0; }
  /* line 435, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .comment-form textarea {
    width: 100%; }
  /* line 437, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .comment-form .red {
    color: #ce5a5a; }
  /* line 439, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .comment-form span, main .comment-form label {
    line-height: 17px;
    text-align: left;
    padding: 0;
    text-decoration: none; }
  /* line 444, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  main .comment-form button {
    border: 0;
    outline: none;
    border-radius: 0;
    background-color: #5aacce;
    color: #fff;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    padding: 0;
    font-size: 12px; }

/* line 457, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar h3 {
  font-size: 12px;
  line-height: 17px;
  color: #ce5a5a;
  text-transform: uppercase;
  font-family: "OpenSansRegular", sans-serif;
  margin: 0; }
/* line 464, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar hr {
  margin-top: 5px;
  margin-bottom: 15px; }
/* line 467, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar h4 {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-family: "OpenSansRegular", sans-serif; }
/* line 472, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar .media:last-child {
  margin-bottom: 30px; }
/* line 475, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar .advertisement-top img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  margin-right: 20px; }
/* line 480, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar .advertisement-top .media-right, .sidebar .advertisement-top .media-left {
  padding: 0; }
/* line 482, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar .advertisement-top .media-right {
  text-align: right; }
/* line 486, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar #vk_groups, .sidebar #vk_groups iframe {
  width: 100% !important; }
/* line 489, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar .tabs-group {
  margin-top: 30px; }
  /* line 491, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .sidebar .tabs-group .tab {
    font-size: 12px;
    line-height: 17px;
    font-family: "OpenSansRegular", sans-serif;
    text-transform: uppercase;
    margin-right: 10px;
    cursor: pointer; }
  /* line 498, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .sidebar .tabs-group .active {
    color: #ce5a5a; }
  /* line 500, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .sidebar .tabs-group .tab-item {
    display: none; }
  /* line 502, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .sidebar .tabs-group .tab-item:first-child {
    display: block; }
  /* line 504, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .sidebar .tabs-group .comments-wrap .media-object {
    width: 50px;
    height: 50px; }
  /* line 508, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .sidebar .tabs-group .media-body h4 {
    margin: 0; }
/* line 513, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.sidebar .advertisement-bottom .top-banner img, .sidebar .advertisement-bottom .bottom-banner img {
  width: 100%;
  margin-bottom: 20px; }
