/* line 9, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-size-color: #717171;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  -webkit-font-smoothing-overflow-x: hidden; }

/* line 21, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
body input:focus:required:invalid, body textarea:focus:required:invalid {
  color: #717171; }

/* line 27, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
body input:required:valid, body textarea:required:valid {
  color: green; }

/* line 30, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
hr {
  background-color: #dddddd;
  margin: 0;
  border: 0;
  height: 1px; }

/* line 36, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
header {
  margin-top: 10px; }
  /* line 39, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .top_header_menu ul, header .top_header_menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #717171;
    margin-right: 10px; }
  /* line 47, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header hr {
    margin-top: 5px; }
  /* line 49, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .login {
    float: right; }
  /* line 51, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header a {
    color: #717171;
    margin-right: 10px; }
  /* line 57, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .top_banner {
    float: right;
    margin: 15px 0px; }
  /* line 60, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .logo {
    margin: 31px 0px; }
  /* line 63, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-default .navbar-nav .active a, header .navbar-default .navbar-nav .active a:focus, header .navbar-default .navbar-nav .active a:hover {
    background-color: #d45757;
    color: #fff;
    padding: 15px 10px; }
  /* line 67, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-default .navbar-nav li a {
    color: #717171;
    padding: 15px 10px; }
  /* line 70, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header nav.navbar.navbar-default {
    background-color: #dddddd;
    text-transform: uppercase;
    border-radius: 0;
    border: 0; }
  /* line 76, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-form {
    margin: 0;
    padding: 0;
    min-width: 200px;
    border: 0; }
    /* line 81, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form input {
      background-color: #cecece;
      color: #fff;
      text-indent: 10px;
      border: 0;
      outline: none;
      padding: 12px 0;
      margin: 0;
      text-transform: uppercase;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
    /* line 95, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form ::-webkit-input-placeholder {
      color: #fff; }
    /* line 97, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form ::-moz-placeholder {
      color: #fff; }
    /* line 99, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form :-moz-placeholder {
      color: #fff; }
    /* line 101, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form :-ms-input-placeholder {
      color: #fff; }
    /* line 106, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    header .navbar-form button {
      margin-left: -4px;
      margin-right: 0px;
      border: 0;
      background-color: #cecece;
      height: 50px;
      padding: 0;
      width: 25px;
      outline: 0; }
  /* line 116, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  header .navbar-collapse {
    padding: 0;
    border: 0; }

/* line 121, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
#carousel-example-generic {
  height: 300px; }
  /* line 123, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  #carousel-example-generic img {
    height: 300px;
    width: auto;
    display: block;
    margin: auto; }
  /* line 128, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  #carousel-example-generic .carousel-control {
    left: 95%;
    top: 80%;
    width: 1%;
    background: none; }
    /* line 133, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    #carousel-example-generic .carousel-control .glyphicon-chevron-left {
      left: -20px; }
  /* line 136, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  #carousel-example-generic .item {
    background-color: #dddddd; }
    /* line 138, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    #carousel-example-generic .item .carousel-caption {
      position: absolute;
      text-align: left;
      margin: 0;
      padding: 0;
      left: 10px;
      bottom: 10px;
      width: 350px; }
      /* line 146, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
      #carousel-example-generic .item .carousel-caption span {
        color: #fff;
        background-color: #000;
        padding: 5px;
        margin: 0;
        text-transform: uppercase; }
      /* line 152, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
      #carousel-example-generic .item .carousel-caption h3 {
        background-color: #5aacce;
        color: #fff;
        padding: 5px;
        margin: 0;
        text-transform: uppercase; }
      /* line 158, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
      #carousel-example-generic .item .carousel-caption p {
        margin: 0;
        color: #000;
        background-color: #fff;
        padding: 5px;
        text-decoration: none;
        text-shadow: none; }

/* line 167, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.main_content {
  margin-top: 40px; }
  /* line 170, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .main_content .caption h3 {
    color: #ce5a5a; }
  /* line 172, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .main_content .caption .btn {
    border: 0;
    border-radius: 0; }
  /* line 175, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .main_content .caption i, .main_content .caption .number_of_comments, .main_content .caption .date {
    background-color: #fff;
    color: #bbbbbb; }
  /* line 178, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .main_content .caption .number_of_comments, .main_content .caption .date {
    display: inline-block; }
  /* line 180, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .main_content .caption .number_of_comments {
    margin-left: 20px; }
  /* line 182, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  .main_content .thumbnail {
    border: 0; }
    /* line 184, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main_content .thumbnail > span {
      color: #fff;
      background-color: #000;
      padding: 5px;
      top: 15px;
      left: 3px;
      position: relative;
      text-transform: uppercase; }
    /* line 192, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
    .main_content .thumbnail img {
      width: 100%;
      height: 170px; }

/* line 196, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.featured_header {
  height: 30px;
  color: #000;
  background-color: #dddddd;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 20px; }

/* line 205, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.media-object {
  height: 100px;
  width: 100px; }

/* line 209, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.media-body h4 {
  color: #ce5a5a;
  font-weight: bold; }
/* line 212, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.media-body p, .media-body span {
  margin: 0;
  font-size: 12px;
  color: #717171; }

/* line 216, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
.media:last-child {
  margin-bottom: 40px; }

/* line 221, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
footer .list-group-item.active, footer .list-group-item.active:focus, footer .list-group-item.active:hover, footer a.list-group-item:focus, footer a.list-group-item:hover, footer .list-group-item, footer a.list-group-item {
  color: #717171;
  background-color: #fff;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0; }
/* line 228, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
footer .social_wrap a {
  margin-left: 15px;
  color: #717171; }
  /* line 231, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
  footer .social_wrap a:first-child {
    margin-left: 0; }
/* line 235, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
footer h4 {
  color: #ce5a5a;
  text-transform: uppercase; }
/* line 240, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
footer .newsletter_wrap span {
  color: #717171; }
/* line 242, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
footer .newsletter_wrap input {
  margin-top: 10px;
  background-color: #dddddd;
  border: 0;
  text-indent: 10px;
  color: #717171;
  outline: 0; }
/* line 249, C:/GitHub/site-layouts/awesomag/css/sass/main.sass */
footer .newsletter_wrap button {
  border: none;
  outline: 0;
  margin-left: -32px; }
