body {
    width: 1260px;
    height: 1600px;
    font: 12px Tahoma, sans-serif;
}

input[type='text'] {
    width: 200px;
    height: 40px;
    background-color: #cecece;
    border: none;
}

.wrapper {
    max-height: 1600;
    margin: auto;
}

header {
    padding: 20px;
}

form[name="search"] {
    float: right;
    background-color: #cecece;
}

input[type='submit'] {
    background: url(images/Search-btn.png);
}

.top-menu {
    list-style: none;
}

.top-menu li {
    display: inline;
    margin-left: 10px;
}