/* line 6, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

/* line 16, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
body input:focus:required:invalid, body textarea:focus:required:invalid {
  color: red; }

/* line 19, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
body input:required:valid, body textarea:required:valid {
  color: green; }

/* line 22, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
.hidden {
  display: none; }

/* line 24, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
section {
  position: relative; }

/* line 27, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
.main_head {
  min-height: 620px;
  padding-top: 20px; }

/* line 31, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  /* line 42, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

/* line 55, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
.logo_wrap {
  float: left; }

/* line 57, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
svg {
  height: 60px;
  width: 60px;
  z-index: 100;
  position: relative; }

/* line 63, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
.toggle_menu {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
  z-index: 100;
  border: none; }

/* line 71, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
.sandwich {
  width: 100px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

/* line 84, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
.sw-topper {
  position: relative;
  top: 0;
  width: 100px;
  height: 10px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */ }

/* line 98, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
.sw-bottom {
  position: relative;
  width: 100px;
  height: 10px;
  top: 20px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

/* line 110, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
.sw-footer {
  position: relative;
  width: 100px;
  height: 10px;
  top: 40px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

/* line 122, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
sandwich:active .sw-topper {
  top: 15px;
  transform: rotate(140deg); }
/* line 125, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
sandwich:active .sw-bottom {
  top: 5px;
  transform: rotate(-140deg); }
/* line 128, C:/GitHub/site-layouts/wp_lp_layout/_html/css/sass/main.sass */
sandwich:active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

/*# sourceMappingURL=main.css.map */