/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}


/* .owl-buttons
    position: relative
    .owl-prev,.owl-next
        position: absolute
        bottom: 90px
    .owl-prev
    left: 0
    .owl-next
    right: 0 */


/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 15px;
    background: url(../img/slide_controls.png) no-repeat 0 0;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 15px;
    background: url(../img/slide_controls.png) no-repeat -18px 0;
}

.owl-theme .owl-controls .owl-buttons div {
    width: 15px;
    height: 20px;
    position: absolute;
    bottom: 50%;
    color: #000;
    display: inline-block;
    border-radius: 30px;
}


/* Clickable class fix problem with hover on touch devices */


/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
    border: 1px solid #dfdfdf;
    border-radius: 15px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px 2px;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #0d0c0c;
}

.owl-theme .owl-controls .owl-page.active,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    background-color: #bb2d97;
}


/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


/* preloading images */

.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}
