body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_wrap {
  float: left; }

svg {
  height: 60px;
  width: 60px;
  z-index: 100;
  position: relative; }

.toggle_menu {
  width: 60px;
  height: 60px;
  float: right;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 100;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  display: block; }

.sandwich {
  width: 50px;
  height: 5px;
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 50px;
  height: 5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 50px;
  height: 5px;
  top: 10px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 50px;
  height: 5px;
  top: 20px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 13px;
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 8px;
  -webkit-transform: rotate(-140deg);
      -ms-transform: rotate(-140deg);
          transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.top_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_menu ul, .top_menu li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .top_menu ul {
    margin-top: 180px;
    text-align: center; }
  .top_menu a {
    color: #fff;
    display: block;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 13px; }

.top_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
  z-index: 10; }
  .top_wrapper:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: ""; }
  .top_wrapper .top_text {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left; }
    .top_wrapper .top_text h1 {
      font-size: 38px;
      padding: 10px 30px;
      border: 8px solid #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 20px;
      margin-left: 20px;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s; }
    .top_wrapper .top_text p {
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s; }

section {
  position: relative;
  padding: 70px 0 90px; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px; }

.s_descr_wrap {
  text-align: center; }
  .s_descr_wrap .s_descr {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    margin-bottom: 130px; }
    .s_descr_wrap .s_descr:after {
      content: "";
      width: 150px;
      height: 1px;
      position: absolute;
      left: 50%;
      margin-left: -75px;
      margin-top: 60px; }

.section_content h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 35px; }
.section_content p {
  margin-bottom: 30px; }
.section_content ul, .section_content li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.section_content li {
  margin-bottom: 10px; }

.social_wrap {
  margin-top: 25px; }
  .social_wrap li {
    display: inline-block;
    font-size: 20px;
    padding: 0 3px; }

.about_name {
  font-size: 13px;
  text-align: left;
  margin-bottom: 30px;
  color: #555; }

.person {
  text-align: center;
  margin-bottom: 35px; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%; }

#resume .left {
  text-align: right;
  border-right: #d2d2d2 1px solid; }
  #resume .left h3 {
    text-align: right; }
  #resume .left .resume_description strong {
    margin-left: 10px; }
#resume .right {
  text-align: left; }
  #resume .right h3 {
    text-align: left; }
  #resume .right .resume_description strong {
    margin-right: 10px; }
#resume h3 {
  margin-top: 30px; }
#resume .resume_icon {
  font-size: 40px;
  margin-bottom: 35px; }
#resume .resume_item {
  margin-bottom: 35px; }
  #resume .resume_item p {
    margin-top: 10px; }
  #resume .resume_item .year {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: italic; }
  #resume .resume_item:last-child {
    margin-bottom: 0; }
    #resume .resume_item:last-child p {
      margin-bottom: 0; }
  #resume .resume_item .resume_description {
    font-style: italic; }
    #resume .resume_item .resume_description strong {
      text-transform: uppercase;
      font-weight: 600;
      font-style: normal; }

#portfolio .section_content ul, #portfolio .section_content li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center; }
#portfolio .section_content li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 2; }
#portfolio .section_content ul {
  margin-bottom: 50px; }
#portfolio .section_content .portfolio_table .mix {
  display: none;
  padding: 0; }
  #portfolio .section_content .portfolio_table .mix img {
    width: 100%; }
  #portfolio .section_content .portfolio_table .mix .item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    -webkit-transition: all 0.5s;
            transition: all 0.5s; }
    #portfolio .section_content .portfolio_table .mix .item_cont:hover {
      opacity: 1;
      padding-top: 20%; }
    #portfolio .section_content .portfolio_table .mix .item_cont h3 {
      color: #fff;
      margin-bottom: 0; }
    #portfolio .section_content .portfolio_table .mix .item_cont a {
      background-color: transparent;
      padding: 2px 10px;
      display: inline-block; }

.item_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  position: relative; }
  .item_descr p, .item_descr h3 {
    padding: 0 20px; }
  .item_descr h3 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px; }
  .item_descr p {
    margin-top: 0; }
  .item_descr img {
    width: 100%;
    margin-top: 20px; }

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 400; }
